body {
    background-color: hsl(226, 43%, 10%);
    color: whitesmoke;
}

.just {
    display: flex;
    align-items: center;
    height: 100%;
    align-self: center;
    position: absolute;
    top: 7%;
    left: 15%;
}

.dashboard {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    /* position: absolute; */
    width: 1440px;
    margin: auto;
    /* align-items: center; */



}

/* padding-inline:10px; */

.card {
    border-radius: 10px;
    margin: 10px;
}

.Person_details {
    position: relative;
    width: 275px;
    height: 375px;
    background-color: hsl(246, 80%, 60%);
    padding: 30px;
    z-index: 2;


}

.image_container {
    border-radius: 50%;
    width: 75PX;
    height: 75px;
}

.image_container img {
    object-fit: cover;
    height: 100%;
    width: 100%
}

.report {
    color: rgb(160, 151, 139)
}

.NAME {
    font-size: 45px;
    padding-top: 10px;
}

.time_selector {
    position: relative;
    width: 275px;
    height: 150px;
    background-color: hsl(235, 46%, 20%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -23px;
    z-index: 1;

}

.times_mode {
    font-size: 18px;
}

.time_spent {
    display: flex;
    width: 1165px;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    box-sizing: border-box;


}

.time_details {
    background-color: red !;
    width: 281px !important;
    height: 225px !important;
    z-index: 2;
    position: relative;
    top: -20%;
    padding: 20px;
    box-sizing: border-box;

}

.time_decoration {
    position: relative;
    z-index: 1;
    background-color: blue;
    width: 281px;
    height: 150px;
    /* top: -20%; */
}

.lower {
    position: relative;
    top: -40%
}

.lower_ {
    position: relative;
    top: -20%;

}

.icons_dec {
    position: relative;
    left: 70%;
}

.card0 {
    background-color: hsl(15, 100%, 70%);
}

.card1 {
    background-color: hsl(195, 74%, 62%);
}

.card2 {
    background-color: hsl(348, 100%, 68%);
}

.card3 {
    background-color: hsl(145, 58%, 55%);
}

.card4 {
    background-color: hsl(264, 64%, 52%);
}

.card5 {
    background-color: hsl(43, 84%, 65%);
}

.time_details {
    background-color: hsl(235, 46%, 20%);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.card-content h1 {
    font-size: 36px;
    margin: 10px 0;
}

.card-content p {
    font-size: 14px;
    color: #d1d5db;
    /* Light gray color */
    margin: 0;
}

.dots {
    font-weight: bold;
    cursor: pointer;
}
h1{
    border-bottom: 0;
}